<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('_css') %>
</head>

<body>
    <%- include('_navbarUser') %>
    <div class="d-flex flex-wrap justify-content-center">
        <% data.forEach(el=>{%>
            <div>
                <div class="card" style="width: 20rem; margin-right: 40px; margin-bottom: 40px;">
                    <img src="<%= el.profilePicture %>" class="card-img-top" alt="<%= el.name %>">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= el.name %>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            <%= el.Doctor.role %>
                        </h6>
                        <p class="card-text">
                            <%= el.description %>
                        </p>


                    </div>
                </div>
            </div>
            <%}) %>
    </div>
        <div style="margin: 40px 250px;">
            <form method="post" action="/user/role">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Keluhan</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="asking">
                </div>
                <p style="margin: 20px 50px; font-size: 35px; text-align: center;">Pilih Dokter</p>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"></label>
                    <select class="form-select" aria-label="Default select example" name="DoctorId">
                        <% data1.forEach(el =>{%>
                
                      <option value="<%= el.id %>"><%= el.name %></option>
                      <%}) %>
                    </select>
                  </div>
                  <div style=" display: flex; justify-content: center;">
                    <button type="submit" class="btn btn-primary" >Submit</button>
                  </div>
            </form>
        </div>
        <%- include('_body') %>
</body>

</html>